body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header {
    height: 4em;
    padding: 4em;
    margin: 0.5em 5em;
    font-size: 2em;
    background-image: url("../imgs/img1.jpg");
    background-size: cover;
    background-position: center;
}

.header p{
    color: white;
}


.header h1{
    margin: 0px;
    font-weight: 400;
}

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 40%;
    padding: 2em 0;
    text-align: justify;
}

.products img {
    border: solid 1px #ddd;
    width: 500px;
    height: 500px;
    object-fit: cover;
}


.footer {
    height: 3em;
    line-height: 3em;
    background-color: olive;
    color: white;
    text-align: center;
    font-weight: 900 ;
    padding: 1em;
}

.footer p {
    margin-top: 3px;
}